@font-face {
  font-family:"WatermelonScript";
  src: url("../fonts/WatermelonScript.ttf") /* EOT file for IE */
}
.nav {
  float: right;
  width: 100%;
  text-align: center;
  background: 2px 2px rgba(0,0,0, 0.0);
}
.section.hero::before {
  height: 5px;
  content: " ";
  display: block;
  background: repeating-linear-gradient(
    to right,
    #fcc6ca,
    #fcc6ca 25%,
    #86dedf 25%, 
    #86dedf 50%
  );
}

h1 {
  font-size: 10rem;
  font-family: "WatermelonScript";
  color: #fff;
  text-shadow: 2px 2px rgba(0,0,0, 0.3);
}
h3 {
  font-family: "WatermelonScript";
}
h1 span {
  margin: 0 3%;
  text-align: center;
  display: block;
}
.hero-heading {
  padding-top:10%;
}
.bride {
  text-align: right;
}
.hero h2 {
  font-size: 4rem;
  color:#fff;
  font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: 2px 2px rgba(0,0,0, 0.3);
  text-align: center;
}
h3 span.date {
  font-family: Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: .8em;
}

.section:not(.hero) h2 {
  color: #a3cfca;
  text-shadow: 1px 1px rgba(0,0,0, 0.1);
}
.section[data-parallax] {
  min-height:100vh;
}
.green {
  color: #a3cfca;
}
.pink {
  color: #d4a7a1;
}
.section:not(.hero):not(.about) .container .row {
  padding: 5%;
  background: #fff;
}
.section.about .row div{
  margin-top:10%;
  padding:3% 2%;
}
.section.about.light {
  color:#fff;
  text-shadow: 2px 2px rgba(0,0,0, 0.4);
}
#about-2 .row div, #about-3 .row div  {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

#gallery a img {
 border: #d4a7a1 solid 3px;
}
#gallery a img:hover {
 border: #a3cfca solid 3px;
}

.button.cta {
  background: #92b9b1;
  font-size: 2em;
  padding:2%;
  height: auto;
  color: #fff;
}
#gallery.section .container {
  padding-top:5%;
}

@media only screen and (max-device-width: 1200px) {
  #about-1 {
    background-position: center top !important;
    background-size:100% auto !important;
    background-repeat: no-repeat;
  }
  #about-2 {
    background-position: center center !important;
    background-size:100% auto !important;
  }
  #about-3 {
    background-position: center top !important;
    background-size:100% auto !important;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-device-width: 960px) {
  .section.hero {
    background-image: url(https://images.unsplash.com/photo-1473261912432-55081882c1fb?dpr=1&auto=format&fit=crop&w=1500&h=1000&q=40&cs=tinysrgb&blur=80) !important;
  }
  .section.hero .container .row {
    margin-top:10vh;
  }
  .section:not(.hero) {
    min-height: 1px !important;
    height:auto;
  }
  .container {
    padding: 40px 0px;
  }
  h1 {
    font-size: 4em;
  }
  h2 {
    font-size: 2em;
  }
  #about-1 {
    background-position: center top !important;
    background-size:100% auto !important;
    background-repeat: no-repeat;
  }
  #about-2 {
    background-position: center center !important;
    background-size:100% auto !important;
  }
  #about-3 {
    background-position: center top !important;
    background-size:100% auto !important;
    background-repeat: no-repeat;
  }

  #about-3 .columns{
    margin-top:0 !important;;
  }

  @media (orientation:landscape) {
    .section.hero .container .row {
      margin-top:10vh;
    }
  }
}

@media only screen and (max-device-width: 640px) {
  body {
    overflow-x: hidden;
  }
  .u-full-width {
    max-width: 100vw;
  }
  .section.hero .container .row {
    margin-top:10vh;
  }

  #about-1 {
    background-position: right center !important;
    background-size:cover !important;
  }
  #about-3 {
    background-position: center top !important;
    background-size:auto 100% !important;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2rem;
  }
  .section:not(.hero) .container {
    background-color: rgba(0,0,0, 0.3) !important;
  }

  .section:not(.light):not(.hero) .container {
    background-color: #fff!important;
  }

  .section:not(.light):not(.hero) .container h2 {
    font-size: 4rem;
  }
  .row div {
  background-color: rgba(0, 0, 0, 0.0) !important;
  }
  @media (orientation:landscape) {
    .section.hero .container .row {
      margin-top:0;
    }
    #about-1 {
      background-position: top top !important;
      background-size:100% auto !important;
    }
    #about-2 {
      background-position: center center !important;
      background-size:100% auto !important;
    }
    #about-3 {
      background-position: center top !important;
      background-size:auto 100% !important;
    }
  }
}